body {
  font-family: sans-serif;
  margin: 0; 
}

.banner {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.banner img {
  width: 150px;
  height: auto;
  display: inline-block;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px auto; 
  padding-top: 10px;
  width: 100%;
  justify-items: center; 
  text-align: center;
}

.board-preview {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 15px;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3);
  text-align: center;
  max-width: 225px;
  border-radius: 10px;
}

.board-details-container {
  margin-top: auto;
}

.board-details-container h3 {
  margin: 0px;
  margin-top: 10px;
  font-size: 18px;
}

.board-details-container p {
  margin: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}

.board-image {
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 275px;
  border-radius: 5px;
}

.board-preview:hover {
  transform: scale(1.05);
}

.button-common {
  display: inline-block;
  padding: 7px;
  appearance: none;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  position: relative;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: auto;
  height: auto;
}

.button-common:hover {
  border: 2px solid rgba(0,0,0,0.75);
  transform: scale(1.05);
}

.view-board {
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 14px;
  padding: 4px 5px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  color: #24292e;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

.delete-board {
  background-color: rgb(251,138,138);
  font-weight: bold;
  font-size: 14px;
  padding: 4px 5px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition-duration: 0.1s;
  margin-left: 10px;
}

.search {
  margin: 20px auto;
  display: flex;
  gap: 10px;
  max-width: 600px;
}

.search input {
  padding: 8px;
  flex: 1;
  height: 36px;
  box-sizing: border-box;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292e;
  padding: 6px 16px;
}

.center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 5px -2px rgba(100,100,100,0.75);
}

.category-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.category-button {
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 10px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  color: #24292e;
  margin-left: 8px;
}

.create-brd-btn {
  background-color: lightblue;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  color: #24292e;
}

.home-search-button {
  font-weight: bold;
  background-color: rgb(246,193,60);
}

.home-clear-button {
  font-weight: bold;
  background-color: rgb(251,138,138);
}

@media (max-width: 768px) {
  .search {
    max-width: 100%;
  }
}